# Configuración de Supabase
# Reemplaza estas variables con tus credenciales de Supabase Dashboard
VITE_SUPABASE_URL=https://mqvluwuqirizkydkjvhm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xdmx1d3VxaXJpemt5ZGtqdmhtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTkyMjQ1NCwiZXhwIjoyMTAxNDk4NDU0fQ.vFoossTvKlnsYDveCfGOOc0fvVeMoH-9bwlf1iwoyJo