# Configuración de Supabase
# Reemplaza estas variables con tus credenciales de Supabase Dashboard
VITE_SUPABASE_URL=https://mqvluwuqirizkydkjvhm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xdmx1d3VxaXJpemt5ZGtqdmhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5MjI0NTQsImV4cCI6MjEwMTQ5ODQ1NH0.QnxndUQh-8Ml0yMvlKzxr6YFlrfcguyqLRWcOLljEPU